@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome hi35</h1>
  <p>
    Learn about
    <a href="https://docs.microsoft.com/aspnet/core"
      >building 1 Web apps with ASP.NET Core</a
    >.
  </p>
</div>

